@import "tailwindcss";

@theme {
  --color-netflix-red: #e50914;
  --color-prime-blue: #00a8e1;
  --color-cinematic-black: #141414;
}

@layer base {
  body {
    @apply bg-cinematic-black text-slate-200 antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}